<h4>Connexion</h4>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-2">
    <input formControlName="email" class="form-control" placeholder="Email" />
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
      Email invalide
    </div>
  </div>

  <div class="mb-2">
    <input formControlName="password" type="password" class="form-control" placeholder="Mot de passe" />
    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
      Mot de passe (min 6)
    </div>
  </div>

  <button class="btn btn-success" [disabled]="form.invalid">Se connecter</button>
</form>
